@font-face {
    font-family: 'NIXGONM-Vb';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONM-Vb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
html{
    font-size: 13px;
}
body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 15px;
    color: #333333;

    font-family: 'NanumSquare', sans-serif;
}
a {
    text-decoration: none;
    color: #333333;
}
a:hover{
    color: #F0B9A9;
    font-weight: bold ;
}

li {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none
}

h1,h2,h3,h4,h5{
    font-family: 'NIXGONM-Vb';
}
/*header*/
#header {
    width: 100%;
    border-bottom: 1px solid #d8d8d8;
    background-color: #ffffff;
    font-family: 'NIXGONM-Vb';
}
.wide_max_width_area {
    box-sizing: border-box;
    width: 1280px;
    margin: 0 auto;
}
#header .header_top{
    height: 167px;
    position: relative;
    padding: 67px 0 53px;
}

#header .logo{
    display: inline-block;
    position: absolute;
}

#header .logo img{
    display: block;
    width: 150px;
    height: 50px;
    margin: 0 auto;
}
#header .user_area {
    float: right;
    margin-right: 1px;
}
/*서비스 메뉴*/
#header .header_top .service_menu {
    position: absolute;
    top: 13px;
    right: 0;
}

#header .service_menu .list_item {
    float: left;
    margin-left: 29px;
}

#header .service_menu .list_item:first-child {
    margin-left: 0;
}

#header .header_top .service_menu .list_item.service, #header .header_top .service_menu .list_item.join {
    margin-left: 31px;
}

#header .header_top .service_menu .list_item.customer {
    margin-left: 32px;
}

/*멤버 메뉴*/
#header .member_menu {
    font-size: 14px;
}
#header .member_menu .list_item {
    float: left;
    margin-left: 20px;
    width: 56px;
    text-align: center;
}
#header .member_menu .list_item.mypage, #header .member_menu .list_item.founder_center {
    position: relative;
    width: 70px;
    outline: none;
}
#header .member_menu .list_item:first-child {
    margin-left: 0;
}
#header .member_menu .list_item.eventopen {
    position: relative;
}
#header .member_menu .list_item.notice {
    position: relative;
}

#header .member_menu .list_item.mypage>a::before{
    background-image: url(images/mypage.png);
    background-position-x: 14px;

    width: 100%;
    height: 40px;
    display: block;
    content: "";
    padding-bottom: 14px;
    background-repeat: no-repeat;
    background-position: 15px 0;
}

#header .member_menu .list_item.eventopen>a::before{
    background-image: url(images/market.png);
    background-position-x: 14px;

    width: 100%;
    height: 40px;
    display: block;
    content: "";
    padding-bottom: 14px;
    background-repeat: no-repeat;
    background-position: 7px 0;
}
#header .member_menu .list_item.notice>a::before{
    background-image: url(images/notifications.png);
    background-position-x: 14px;

    width: 100%;
    height: 40px;
    display: block;
    content: "";
    padding-bottom: 14px;
    background-repeat: no-repeat;
    background-position: 8px 0;
}

#header .member_menu .list_item>a, #header .member_menu .list_item>button{
    display: block;
}

/*헤더 bottom*/
#header .header_bottom {
    position: relative;
    border-top: 1px solid #d8d8d8;
    height: 54px;
}

/*container*/



/*footer*/
#footer {
    padding: 48px 0 50px;
margin-top: 50px;
    border-top: 1px solid #f0f0f0;
    background-color: #ffffff;
}

#footer .information_area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

#footer .contact_list {
    margin-top: 3px;
    letter-spacing: -1px;
}

#footer .contact_list strong {
    font-size: 16px;
}
#footer .contact_list ul {
    margin-top: 21px;
}
#footer .contact_list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 12px;
    line-height: 22px;
    color: #666;
}

#footer .contact_list span {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #666;
}
#footer .contact_list span::before:first-child {
    content: "";
    display: inline-block;
    
}
#footer .contact_list span::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 9px;
    margin: 0 10px;
    background-color: #666;
}

#footer .contact_list li:last-child {
    letter-spacing: 0;
}
/*footer_bottom*/

#footer .footer_bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin-top: 36px;
}
#footer .footer_bottom p {
    font-size: 12px;
    letter-spacing: -1px;
}

#footer .footer_bottom p span {
    display: block;
    color: #666;
}

#footer .footer_bottom p span:last-child {
    margin-top: 9px;
    letter-spacing: 0;
}
