@font-face {
    font-family: 'NIXGONM-Vb';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONM-Vb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
html{
    font-size: 13px;
}
body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 15px;
    color: #333333;

    font-family: 'NanumSquare', sans-serif;
}
a {
    text-decoration: none;
    color: #333333;
}
a:hover{
    color: #F0B9A9;
    font-weight: bold ;
}

li {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none
}

h1,h2,h3,h4,h5{
    font-family: 'NIXGONM-Vb';
}

/*header*/
#header {
    width: 100%;
    border-bottom: 1px solid #d8d8d8;
    background-color: #ffffff;
    font-family: 'NIXGONM-Vb';
}
.wide_max_width_area {
    box-sizing: border-box;
    width: 1280px;
    margin: 0 auto;
}
#header .header_top{
    height: 167px;
    position: relative;
    padding: 67px 0 53px;
}

#header .logo{
    display: inline-block;
    position: absolute;
}

#header .logo img{
    display: block;
    width: 150px;
    height: 50px;
    margin: 0 auto;
}
#header .ofm_logo .text_logo{
    display: none;
    margin-top: 1px;
    margin-bottom: 9px;
    font-size: 12px;
    color: #666666;
    text-indent: -6px;
}

#header .user_area {
    float: right;
    margin-right: 1px;
}

/*서비스 메뉴*/
#header .header_top .service_menu {
    position: absolute;
    top: 13px;
    right: 0;
}

#header .service_menu .list_item {
    float: left;
    margin-left: 29px;
}

#header .service_menu .list_item:first-child {
    margin-left: 0;
}

#header .header_top .service_menu .list_item.service, #header .header_top .service_menu .list_item.join {
    margin-left: 31px;
}

#header .header_top .service_menu .list_item.customer {
    margin-left: 32px;
}

/*container*/
.login_btn .btn{
    margin: 0 auto;
    display:block;
}

input[type=password]{
    font-family:"굴림";
}